#btnlink{
    color: #fff;
    background-color: rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
#btnlink:before,
#btnlink:after,
#btnlink span:before,
#btnlink span:after{
    content:'';
    background: linear-gradient(to bottom,#4184ff,#872bff);
    width: 25%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
#btnlink:before{
    transform: scaleY(0.2);
    transition-delay: 0.3s;
}
#btnlink:after{
    transform: scaleY(0.45);
    left: 25%;
    transition-delay: 0.2s;
}
#btnlink span:before{
    transform: scaleY(0.65);
    left: 50%;
    z-index: -1;
    transition-delay: 0.1s;
}
#btnlink span:after{
    transform: scaleY(0.8);
    left: 75%;
    z-index: -1;
}
#btnlink span{
    padding: 10px 20px;
    display: block;
    position: relative;
    z-index: 1;
}
#btnlink:hover:before,
#btnlink:hover:after,
#btnlink:hover span:before,
#btnlink:hover span:after{
    opacity: 1;
    transform: scaleY(1);
}
/* #btnlink.orange:before,
#btnlink.orange:after,
#btnlink.orange span:before,
#btnlink.orange span:after{
    background: linear-gradient(to bottom, #f7b42c, #fc575e);
}
#btnlink.blue:before,
#btnlink.blue:after,
#btnlink.blue span:before,
#btnlink.blue span:after{
    background: linear-gradient(to bottom, #7f53ac, #647dee);
}
#btnlink.green:before,
#btnlink.green:after,
#btnlink.green span:before,
#btnlink.green span:after{
    background: linear-gradient(to bottom, #3bb78f, #0bab64);
} */
#btnlink:hover{ color: #fff; }
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; } */
}