@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

/* post form */
textarea {
    background: white;
    border: none;
    overflow: auto;
    outline: none;
    border: 2px solid #000;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px;

    resize: none; /*remove the resize handle on the bottom right*/
  } 
textarea:focus {
    background: white;
    border: 1px solid rgb(0, 0, 0);
  }
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 50px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height:100px;
  margin-bottom: 30px;
}
.center .inputboxtextareaarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 35px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;

}
.center .inputbox textarea:focus ~ span,
.center .inputbox textarea:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}


#btnlink{
    color: #fff;
    background-color: rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
    width: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
#btnlink:before,
#btnlink:after,
#btnlink span:before,
#btnlink span:after{
    content:'';
    background: linear-gradient(to bottom,#0059ff,#003cff);
    width: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
#btnlink:before{
    transform: scaleY(0.2);
    transition-delay: 0.3s;
}
#btnlink:after{
    transform: scaleY(0.45);
    left: 25%;
    transition-delay: 0.2s;
}
#btnlink span:before{
    transform: scaleY(0.65);
    left: 50%;
    z-index: -1;
    transition-delay: 0.1s;
}
#btnlink span:after{
    transform: scaleY(0.8);
    left: 75%;
    z-index: -1;
}
#btnlink span{
    padding: 10px 20px;
    display: block;
    position: relative;
    z-index: 1;
}
#btnlink:hover:before,
#btnlink:hover:after,
#btnlink:hover span:before,
#btnlink:hover span:after{
    opacity: 1;
    transform: scaleY(1);
}
/* #btnlink.orange:before,
#btnlink.orange:after,
#btnlink.orange span:before,
#btnlink.orange span:after{
    background: linear-gradient(to bottom, #f7b42c, #fc575e);
}
#btnlink.blue:before,
#btnlink.blue:after,
#btnlink.blue span:before,
#btnlink.blue span:after{
    background: linear-gradient(to bottom, #7f53ac, #647dee);
}
#btnlink.green:before,
#btnlink.green:after,
#btnlink.green span:before,
#btnlink.green span:after{
    background: linear-gradient(to bottom, #3bb78f, #0bab64);
} */
#btnlink:hover{ color: #fff; }
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}