.wrappersignoff{
    padding: 2.3% 7.3%;

    margin: 0 auto; 
    width:auto;
    align-items: center;
    margin: auto;
    width: 75%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px;
  
}


#stationsTable{    border: solid 3px;
    border-radius: 8px;
    border-color: rgba(211, 208, 208, 0.795);
    width:100%
    


}

td{
    border: none;
    border-color: rgba(211, 208, 208, 0.795);
}
#bold{
    font-weight: 500;
} 

#signoffTable{   
    
    margin: 10px;
    border: solid 3px;
    border-radius: 8px;
    border-color: rgba(211, 208, 208, 0.795);    


}
#signoffh1{
    font-family: monospace;
}

td,tr{
    align-items: center;
    border: solid 1px;
    border-color: rgba(211, 208, 208, 0.795);
    border-radius:8px;
    width:auto;
}
th{
    align-items: center;
    border: solid 1px;
    border-color: rgba(211, 208, 208, 0.795);
    width:auto;
}
#bold{
    font-weight: 500;
} 
#btn-danger-signoff{
    margin: 10px;
}
