* {
    margin: 0;
    padding: 0;
    }
.wrapper{
      padding: 2.3% 7.3%;

      margin: 0 auto; 
  }
#ahf_logo{
  max-width: 250px;
  width: auto;
}

/* nav bar  */
#nav{
  background-color: black;
  padding: 5px 90px;
}




/* drop down  */
.dropbtn {
  background-color: #0d6efd;
  color: white;
  padding: 0px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#0d6efd; color: white; border-radius: 8px}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0d60dd;}


table.table-bordered{
    border:1px solid rgb(0, 0, 0);
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid rgb(0, 0, 0);
}
table.table-bordered > tbody > tr > td{
    border:1px solid rgb(0, 0, 0);
}




#userLink{
    color: white;

    background-color: transparent;
    text-decoration: none;
}
#taskLink{
    color: white;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    word-wrap: break-word;

}

#due{
  font-weight: bold;
}



.lowername{ 
  text-transform: lowercase;
 } /* :first-letter is applicable to blocks */

.uppername {
  display:inline-block}
.uppername::first-letter {
  text-transform: capitalize;        /* Make the first letters uppercase      */
}

.uppertask{ 
  text-transform: lowercase;
 } /* :first-letter is applicable to blocks */

.uppertask > span {
  text-transform: capitalize;
  display:inline-block}
.uppertask >span:first-letter {
  text-transform: uppercase;        /* Make the first letters uppercase      */
}

/* gradient table */
.gradient-custom-2 {
    border-radius: 2em;
    /* fallback for old browsers */
    background: #7e40f6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));

}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.gradient-custom-3 {
    border-radius: 2em;
    /* fallback for old browsers */
    background: #7e40f6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(64, 210, 246), rgb(80, 154, 252));}


.mask-custom3 {
    background: rgba(255, 255, 255, 0.884);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(0, 0, 0);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}


/* check box */
#check {
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 24px;
    width: 26px;
    position: relative;

    transition: 0.10s;
    background-color: #fc1616;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
  }

  #check:not(checked) {
    content: "X";
    color: white;

  }
  #check:checked {
    content: "/";
    color: white;
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 24px;
    width: 26px;
    position: relative;
    transition: 0.10s;
    background-color: #28dd46;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    outline: none;
  }
  #check:before {
    content: "X"; 
    color: white;

  }
  #check:checked:before {
    content: "✓";
    background-color: #28dd46;
    color: rgb(255, 255, 255);
    content: color white
    ;
  }
  
  #check:hover {
    cursor: pointer; 
    opacity: 0.8;
  }
#check2 {
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 24px;
    width: 26px;
    position: relative;
    transition: 0.10s;
    background-color: #28dd46;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    outline: none;
  }
  
  #check2:checked {
    content: "X";
    color: white;
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 24px;
    width: 26px;
    position: relative;
    transition: 0.10s;
    background-color: #dd2828;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    outline: none;
  }
  
  #check2:before {
    content: "✓";
    color: white;
    content: color white

  }
  #check2:checked:before {
    content: "X";
    color: white;
    content: color white
    ;
  }
  
  #check2:hover {
    cursor: pointer; 
    opacity: 0.8;
  }


  /* delete btn */
#deleteBtn{
  -webkit-appearance: none; /*hides the default checkbox*/
  height: 24px;
  width: 26px;
  position: relative;
  transition: 0.10s;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;
  padding: 3px;
  
}

.tag2 {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;

}

.tag2 + .tag2 {
  margin-left: .5em;
}

.tag2-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;

}
.tag2-purple {
  background: #56CCF2;
background: linear-gradient(to bottom, #00a8c5, #00f8e3);
  color: #fafafa;

}




/* task comments section */
#taskComment{
  background: white;
  border: none;
  overflow: auto;
  outline: none;
  border: 2px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px 10px;
  width: 150px;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* dates  */

#datesOne{ margin: 5px;}
#datesTwo{ margin: 5px;}
#datesThree{ margin: 5px;}
#datesFour{ margin: 5px;}

#avatar{
  width: 45px; height: auto;
}

/* mobile */
#selectbox{border-radius: 8px;}
@media screen and (max-width: 480px) {
  #ahf_logo {
    margin: 0;
      width: 100px;
  }
  #nav{
    background-color: black;
    padding: 0.1%;
  }
  th, tr, td{
    font-size: 12px;
  }


  .wrapper{
    padding: 0%;

}
  #mobilebtn{
    width: auto;
    margin: 0;
    padding: 0.5%;
    font-size: 10px;
    font-weight: bold;
  }
  .dropbtn {
    background-color: #0d6efd;
    color: white;
    padding: 0px;
    font-size: 10px;
    border: none;
  }
  #avatar{
    width:25px;
  }

.tag2 {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: 10px;

}

.tag2 + .tag2 {
  margin-left: .5em;
}

.tag2-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;

}
.tag2-purple {
  background: #56CCF2;
background: linear-gradient(to bottom, #00a8c5, #00f8e3);
  color: #fafafa;

}

}

