<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="image/png" rel="icon" href="https://static.spacecrafted.com/c252c12e258d4896a45c93c7a3a8f34b/i/ff4f0755a2e5442cb887170a7d3060e9/1/5feFb8zhrk/App%20Icon%20%252843%2529.png?dpr=2">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- Navigation Bar -->
<div class="d-flex justify-content-between align-items-center mb-3" id="nav">
    <a href="/dashboard"><img src="https://static.spacecrafted.com/c252c12e258d4896a45c93c7a3a8f34b/i/e157cd205d8945ba9440199d43d39d26/1/5feFb8zhrk/AHF_white.png?dpr=2" alt="AHF_Logo" width="250" height="50"></a>
    <div>
        <a href="/add/new_user/"><button type="link" value="Add" class="btn btn-primary badge badge-pill badge-primary"" style="text-align:center">Add User</button></a>
        <a href="/task/new"><button type="submit" value="Logout" class="btn btn-primary badge badge-pill badge-primary"" style="text-align:center">Assign Task</button></a>
        <a href="/manage/users"><button type="submit" value="Logout" class="btn btn-primary badge badge-pill badge-primary"" style="text-align:center">Manage Users</button></a>

        <!-- Dropdown -->
        <div class="dropdown btn btn-primary badge badge-pill badge-primary">
            <button class="dropbtn btn btn-primary badge badge-pill badge-primary">Dropdown</button>
            <div class="dropdown-content ">
                <a href="/links">Links</a>
                <a href="/announcements">Announcements</a>
                <a href="/translate/app">Translate</a>
            </div>
        </div>

    </div>
    <a href="/logout"><button type="submit" value="Logout" class="btn btn-danger" style="text-align:center">Logout</button></a>
</div>

    <div class="wrapper">
        
        <div class="d-flex justify-content-evenly" >

            <form action="/add/task" method="POST" class="container mx-auto bg-light " style="width: 400px" >
                <input type="hidden" name="complete" id="complete" value="0" class="form-control">
                <h1>New Task</h1>
                {% with messages = get_flashed_messages(category_filter=['task']) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="mb-3">
                    <label for="user" class="form-label">User:</label>
                    <p>
                        <select class="text-capitalize" name="user_id">
                        {% for user in users %}
                        <option class="text-capitalize" value="{{user.id}}">{{user.first_name}}</option>
                        {% endfor %}
                        </select>
                    </p>
                </div>


                <div class="mb-3">
                    <label for="task_name" class="form-label">Task:</label>
                    <input type="text" name="task_name" id="task_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="priority" class="form-label">Priority:</label>
                    <p>
                        <select name="priority" id="priority">
                        <option value="High Priority">High Priority</option> 
                        <option value="Middle Priority">Middle Priority</option> 
                        <option value="Low Priority">Low Priority</option> 
                        </select>
                    </p>
                    <!-- <input type="text" name="priority" id="priority" class="form-control"> -->
                </div>
                <div class="mb-3">
                    <label for="due_date" class="form-label ">Due Date:</label>
                    <input type="date" name="due_date" class="form-control" id="due_date" >
                </div>
                <input type="submit" value="Add Task" class="btn btn-primary">
            </form>
            <form action="/assign/station" method="POST" class="container mx-auto card" style="width: 400px" >
                <h1>Assign Station</h1>
                {% with messages = get_flashed_messages(category_filter=['station']) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <div class="mb-3">
                    <label for="user" class="form-label">User:</label>
                    <p>
                        <select  class="text-capitalize" name="user_id">
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name}}</option>
                        {% endfor %}
                        </select>
                    </p>
                </div>
                <input type="hidden" name="complete" id="complete" value="0" class="form-control">
                <input type="hidden" name="priority" id="priority" value="Middle Priority" class="form-control">


                <div class="mb-3">
                    <label for="station" class="form-label">Station:</label>
                    <p>
                        <select name='station'>
                        <option value="will_call">Will Call</option> 
                        <option value="shipping">Shipping</option> 
                        <option value="drop_off">Drop Off</option> 
                        <option value="station_1">Station 1</option> 
                        <option value="station_2">Station 2</option> 
                        </select>
                    </p>
                    <!-- <input type="text" name="priority" id="priority" class="form-control"> -->
                </div>
                <div class="mb-3">
                    <label for="due_date" class="form-label ">Due Date:</label>
                    <input type="date" name="due_date" class="form-control" id="due_date" >
                </div>
                <input type="submit" value="Add Task" class="btn btn-success">
            </form>
        </div>
    </div>
</body>
</html>