<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="image/png" rel="icon" href="https://static.spacecrafted.com/c252c12e258d4896a45c93c7a3a8f34b/i/ff4f0755a2e5442cb887170a7d3060e9/1/5feFb8zhrk/App%20Icon%20%252843%2529.png?dpr=2">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>

<script type="text/javascript">

</script>
</head>
<body>


                <!-- navigation bar -->
    <div class="d-flex justify-content-between align-items-center mb-3" id="nav">
        {% if user.role == 'admin'%}

            <a href="/dashboard"><img src="https://static.spacecrafted.com/c252c12e258d4896a45c93c7a3a8f34b/i/e157cd205d8945ba9440199d43d39d26/1/5feFb8zhrk/AHF_white.png?dpr=2" alt="AHF_Logo" id="ahf_logo"></a>
            <div>
                <a href="/dashboard"><button type="link" value="Add" class="btn btn-primary badge badge-pill badge-primary" id="mobilebtn" style="text-align:center">Dashboard</button></a>
                <a href="/add/new_user/"><button type="link" value="Add" class="btn btn-primary badge badge-pill badge-primary" id="mobilebtn" style="text-align:center">Add User</button></a>
                <a href="/task/new"><button type="submit" value="Logout" class="btn btn-primary badge badge-pill badge-primary" id="mobilebtn" style="text-align:center">Assign Task</button></a>
                <a href="/stations"><button type="submit" value="Logout" class="btn btn-primary badge badge-pill badge-primary" id="mobilebtn" style="text-align:center">Manage Stations</button></a>
                <a href="/manage/users"><button type="submit" value="Logout" class="btn btn-primary badge badge-pill badge-primary" id="mobilebtn" style="text-align:center">Manage Users</button></a>

                <!-- Dropdown -->
                <div class="dropdown btn btn-primary badge badge-pill badge-primary" id="mobilebtn">
                    <button class="dropbtn btn btn-primary badge badge-pill badge-primary">Dropdown</button>
                    <div class="dropdown-content ">
                        <a href="/links">Links</a>
                        <a href="/announcements">Announcements</a>
                        <a href="https://translate.google.com/" target="_blank" rel="noopener noreferrer">Translate</a>
                    </div>
                </div>
            </div>
            <a href="/logout"><button type="submit" value="Logout" class="btn btn-danger badge badge-pill badge-danger" style="text-align:center" id="mobilebtn">Logout</button></a>
        </div>
        {% endif %}
        {% if user.role == 'staff'%}
        <a href="/user/dash"><img src="https://static.spacecrafted.com/c252c12e258d4896a45c93c7a3a8f34b/i/e157cd205d8945ba9440199d43d39d26/1/5feFb8zhrk/AHF_white.png?dpr=2" alt="AHF_Logo" width="250" height="50"></a>
        <div class="dropdown btn btn-primary badge badge-pill badge-primary">
            <button class="dropbtn btn btn-primary badge badge-pill badge-primary">Dropdown</button>
            <div class="dropdown-content ">
                <a href="/links">Links</a>
                <a href="/announcements">Announcements</a>
                <a href="https://translate.google.com/" target="_blank" rel="noopener noreferrer">Translate</a>
            </div>
        </div>

        <a href="/logout"><button type="submit" value="Logout" class="btn btn-danger badge badge-pill badge-danger" style="text-align:center" id="mobilebtn">Logout</button></a>
        {% endif %}

                    <!-- Dropdown -->

    </div>
            <!-- messages -->
    <div class="wrapper">

        <form action="/update/task/" method="POST" id="my-form">
            <!-- navigation bar -->
            <div class="d-flex justify-content-center align-items-center mb-3 border-bottom border-5 border-dark ">
                <h1 class="text-center  ms-5 text-capitalize"> {{user2.first_name}}'s Assigned Tasks</h1>
            </div>
                {% with messages = get_flashed_messages(category_filter=['task_completed']) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="text-success text-center">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=['task_edit_success']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-success text-center">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            {% for task in tasks%}
                {% if task.due_date == None%}
                <h1 class="text-center  ms-5">This User Has No Tasks</h1>
                {% endif %}
            {% endfor %}
        <!-- description box -->
        <section class="gradient-custom-3 ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items">
                    <div class="col-md-12 col-xl-12 pb-2">
                        <div class="card mask-custom ">
                            <fo class="card-body p-4 text-white">
                                <table class="table text-white mb-0 ">
                                    <input type="hidden" name="user2_id" value="{{user2.id}}">
                                    <thead>
                                    <tr>
                                        <th scope="col">Task(s)</th>
                                        <th scope="col"><a href="/user/task/{{user2.id}}" class="text-white">Due Date</a></th>
                                        <th scope="col">Priority</th>
                                        <th scope="col"><a href="/sort/user/task/{{user2.id}}" class="text-white">Status</a></th>

                                        <th scope="col">Comment(s)</th>
                                        {% if user.role == 'admin'%}
                                        <th scope="col">Delete</th>
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    {% for task in tasks%}
                                    {% set number = today.strftime('%Y%m%d') | int %}
                                    {% set taskdate = task.due_date.strftime('%Y%m%d') | int %}

                                    {% if task.due_date <= next_week %}
                                    {% if task.due_date >= past_week %}
                                    <!-- <p>{{taskdate}}, {{number +2}} </p> -->
                                    <tbody>
                                    <tr class="fw-normal">
                                        {% if task.due_date != None%}
                                        <td class="align-middle" >
                                            <span class="" >
                                                <a href="/edit/{{task.id}}"  id="taskLink">{{task.task_name}}</a>
                                            </span>

                                        </td>
                                        {% if today == task.due_date %}
                                        <td class="align-middle">
                                            <span class="text" id="due">{{task.due_date.strftime('%B %d, %Y')}}</span >
                                        </td>
                                        {% endif %}
                                        {% if today != task.due_date %}
                                        <td class="align-middle">
                                            <span class="text-dark">{{task.due_date.strftime('%B %d, %Y')}}</span >
                                        </td>
                                        {% endif %}

                                        <td class="align-middle">
                                            {% if task.priority == "High Priority" %}
                                            <h6 class="mb-0"><span class="badge bg-danger">{{task.priority}}</span></h6>
                                            {% endif %}
                                            {% if task.priority == "Middle Priority" %}
                                            <h6 class="mb-0"><span class="badge bg-warning">{{task.priority}}</span></h6>
                                            {% endif %}
                                            {% if task.priority == "Low Priority" %}
                                            <h6 class="mb-0"><span class="badge bg-success">{{task.priority}}</span></h6>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle">
                                            {% if task.status== 0 %}
                                            <div name="completed_task" >
                                                <!-- <input type="checkbox" name="complete" id="check" value="{{task.id}}" > -->
                                                <input type="hidden" name='complete' value="{{task.id}}" class="form-control">
                                                <select name="status" class="badge bg-danger" id="statusSelect">
                                                    <option class="bg-light text-dark"  value=1 id="complete" >Complete</option>
                                                    <option class="bg-light text-dark" value=2 id="working">Working on it</option>
                                                    <option class="bg-light text-dark" selected value=0 id="pending">Pending</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                            {% if task.status == 1 %}
                                            <div name="completed_task" >
                                                <!-- <input type="checkbox" name="complete" id="check" value="{{task.id}}" > -->
                                                <input type="hidden" name='complete' value="{{task.id}}" class="form-control">
                                                <select name="status" class="badge bg-success" id="statusSelect">
                                                    <option class="bg-light text-dark" selected value=1 id="complete" >Complete</option>
                                                    <option class="bg-light text-dark" value=2 id="working">Working on it</option>
                                                    <option class="bg-light text-dark" value=0 id="pending">Pending</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                            {% if task.status == 2 %}
                                            <div name="completed_task" >
                                                <!-- <input type="checkbox" name="complete" id="check" value="{{task.id}}" > -->
                                                <input type="hidden" name='complete' value="{{task.id}}" class="form-control">
                                                <select name="status" class="badge bg-warning" id="statusSelect">
                                                    <option class="bg-light text-dark" value=1 id="complete" >Complete</option>
                                                    <option class="bg-light text-dark" selected value=2 id="working">Working on it</option>
                                                    <option class="bg-light text-dark" value=0 id="pending">Pending</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                        </td>
                                        {% if user.role == 'admin'%}
                                        <td class="align-middle">
                                            <input type="hidden" name="comment" value="{{task.id}}" class="form-control">
                                            <input type="text"  id="taskComment" name="comment" value="{{task.comment}}">
                                    </td>
                                        {% endif %}
                                        {% if user.role == 'admin'%}
                                        <td class="align-middle">

                                            <input class="form-check-input" value="{{task.id}}" type="checkbox" name="checked1" id="flexRadioDefault1">

                                        </td>
                                        {% endif %}
                                        {% if user.role == 'staff'%}
                                        <td class="align-middle">
                                                <input type="hidden" name="comment" value="{{task.id}}" class="form-control">
                                                <input type="text"  id="taskComment" name="comment" value="{{task.comment}}">
                                        </td>
                                        {% endif %}
                                        {% endif %}

                                    </tr>
                                    </tbody>
                                    {% endif %}
                                    {% endif %}

                                    {% endfor %}
                                    {% if user.role == 'staff'%}
                                    <tr>
                                        <div  class="d-flex justify-content-end">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><a href="/all/user/task/{{user2.id}}" class="text-white">View All</a></td>
                                            <td><button form="my-form" type="submit" class="btn btn-primary badge badge-pill badge-primary" onclick="disableButton(this)"> Update</button></td>
                                            <td></td>
                                        </div>
                                    </tr>
                                    {% endif %}
                                    {% if user.role == 'admin'%}
                                    <tr>
                                        <div  class="d-flex justify-content-end">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> </td>
                                            <td></td>
                                            <td><input  form="my-form" class="form-check-input align-items-end mb-3" type="checkbox" onClick="toggle(this)" /> Delete All<br/></td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <div  class="d-flex justify-content-end">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> </td>
                                            <td><a href="/all/user/task/{{user2.id}}" class="text-white">View All</a></td>
                                            <td><button form="my-form" type="submit" class="btn btn-primary badge badge-pill badge-primary" onclick="disableButton(this)"> Update</button></td>
                                        </div>
                                    </tr>
                                    {% endif %}
                                </table>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>


</html>

